%section#mu-restaurant-menu
  .container
    %h1
      =link_to 'Wine Log', root_path
    / Uncomment below if you prefer to use an image logo
    / <a href="index.html" class="mr-auto"><img src="/img/logo.png" alt="" class="img-fluid"></a>
    %h2
      In our Wine log,
      %span Find Your Favorite