.container
  .row
    .col-md-12
      .mu-reservation-area
        .mu-title
          %span.mu-subtitle Wine Log
        .mu-reservation-content
          .col-md-6
            .mu-reservation-left
              =bootstrap_form_with model: [:login, @wine], local: true do |f|
                .row
                  .col-md-12
                    .form-group
                      =f.text_field :name
                  .col-md-12
                    .form-group
                      =f.text_field :country
                  .col-md-12
                    .form-group
                      =f.text_field :area
                  .col-md-12
                    .form-group
                      =f.text_field :year
                  .col-md-12
                    .form-group
                      =f.text_field :price
                  .col-md-12
                    .form-group
                      =f.text_field :color
                  .col-md-12
                    .form-group
                      =f.text_field :taste
                  .col-md-12
                    .form-group
                      =f.text_field :aroma
                  .col-md-12
                    .form-group
                      =f.text_field :kind
                  .col-md-12
                    .form-group
                      =f.file_field :images
                      -if @wine.image.present?
                        .checkbox.checkbox-primary.m-t-5
                          =f.check_box_without_bootstrap :remove_image_id,{}, @wine.id, false
                          =f.label :remove_image_id, "Image Delete"
                          -# =f.hidden_field :image_blob_id, value: @
                  =f.submit