/ START SCROLL TOP BUTTON
%a.scrollToTop{:href => "#"}
  %i.fa.fa-angle-up
/ END SCROLL TOP BUTTON
/ Start header section
%header#mu-header
  %nav.navbar.navbar-default.mu-main-navbar{:role => "navigation"}
    .container
      .navbar-header
        / FOR MOBILE VIEW COLLAPSED BUTTON
        %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        / LOGO
        / Text based logo
        %a.navbar-brand{:href => "index.html"}
          Osteria
          %span X
        / Image based logo
        / <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt="Logo img"></a>
      #navbar.navbar-collapse.collapse
        %ul#top-menu.nav.navbar-nav.navbar-right.mu-main-nav
          %li
            %a{:href => "index.html"} HOME
          %li
            %a{:href => "#mu-about-us"} ABOUT US
          %li
            %a{:href => "#mu-restaurant-menu"} MENU
          %li
            %a{:href => "#mu-reservation"} RESERVATION
          %li
            %a{:href => "#mu-gallery"} GALLERY
          %li
            %a{:href => "#mu-chef"} OUR CHEFS
          %li
            %a{:href => "#mu-contact"} CONTACT
      / /.nav-collapse
/ End header section
/ Start slider
%section#mu-slider
  .mu-slider-area
    / Top slider
    .mu-top-slider
      / Top slider single slide
      .mu-top-slider-single
        %img{:alt => "img", :src => "assets/img/slider/1.jpeg"}/
        / Top slider content
        .mu-top-slider-content
          %span.mu-slider-small-title Welcome
          %h2.mu-slider-title To The OsteriaX
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque voluptatem accusamus non quidem, deleniti optio.
          %a.mu-readmore-btn.mu-reservation-btn{:href => "#mu-reservation"} BOOK A TABLE
        / / Top slider content
      / / Top slider single slide
      / Top slider single slide
      .mu-top-slider-single
        %img{:alt => "img", :src => "assets/img/slider/2.jpeg"}/
        / Top slider content
        .mu-top-slider-content
          %span.mu-slider-small-title The Elegant
          %h2.mu-slider-title Italian Restaurant
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque voluptatem accusamus non quidem, deleniti optio.
          %a.mu-readmore-btn.mu-reservation-btn{:href => "#mu-reservation"} BOOK A TABLE
        / / Top slider content
      / / Top slider single slide
      / Top slider single slide
      .mu-top-slider-single
        %img{:alt => "img", :src => "assets/img/slider/3.jpeg"}/
        / Top slider content
        .mu-top-slider-content
          %span.mu-slider-small-title Delicious
          %h2.mu-slider-title Spicy Masalas
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque voluptatem accusamus non quidem, deleniti optio.
          %a.mu-readmore-btn.mu-reservation-btn{:href => "#mu-reservation"} BOOK A TABLE
        / / Top slider content
      / / Top slider single slide
/ End slider
/ Start About us
%section#mu-about-us
  .container
    .row
      .col-md-12
        .mu-about-us-area
          .mu-title
            %span.mu-subtitle Discover
            %h2 ABOUT US
          .row
            .col-md-6
              .mu-about-us-left
                %img{:alt => "img", :src => "assets/img/about-us.png"}/
            .col-md-6
              .mu-about-us-right
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam minus aliquid, itaque illum assumenda repellendus dolorem, dolore numquam totam saepe, porro delectus, libero enim odio quo. Explicabo ex sapiente sit eligendi, facere voluptatum! Quia vero rerum sunt porro architecto corrupti eaque corporis eum, enim soluta, perferendis dignissimos, repellendus, beatae laboriosam.
                %ul
                  %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  %li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia.
                  %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  %li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia.
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque similique molestias est quod reprehenderit, quibusdam nam qui, quam magnam.
/ End About us
/ Start Counter Section
%section#mu-counter
  .mu-counter-overlay
    .container
      .row
        .col-md-12
          .mu-counter-area
            %ul.mu-counter-nav
              %li.col-md-3.col-sm-3.col-xs-12
                .mu-single-counter
                  %span Fresh
                  %h3
                    %span.counter-value{"data-count" => "150"} 0
                    %sup +
                  %p Breakfast Items
              %li.col-md-3.col-sm-3.col-xs-12
                .mu-single-counter
                  %span Delicious
                  %h3
                    %span.counter-value{"data-count" => "60"} 0
                    %sup +
                  %p Lunch Items
              %li.col-md-3.col-sm-3.col-xs-12
                .mu-single-counter
                  %span Hot
                  %h3
                    %span.counter-value{"data-count" => "45"} 0
                    %sup +
                  %p Coffee Items
              %li.col-md-3.col-sm-3.col-xs-12
                .mu-single-counter
                  %span Satisfied
                  %h3
                    %span.counter-value{"data-count" => "6560"} 0
                    %sup +
                  %p Customers
/ End Counter Section
/ Start Restaurant Menu
%section#mu-restaurant-menu
  .container
    .row
      .col-md-12
        .mu-restaurant-menu-area
          .mu-title
            %span.mu-subtitle Discover
            %h2 OUR MENU
          .mu-restaurant-menu-content
            %ul.nav.nav-tabs.mu-restaurant-menu
              %li.active
                %a{"data-toggle" => "tab", :href => "#breakfast"} Breakfast
              %li
                %a{"data-toggle" => "tab", :href => "#meals"} Meals
              %li
                %a{"data-toggle" => "tab", :href => "#snacks"} Snacks
              %li
                %a{"data-toggle" => "tab", :href => "#desserts"} Desserts
              %li
                %a{"data-toggle" => "tab", :href => "#drinks"} Drinks
            / Tab panes
            .tab-content
              #breakfast.tab-pane.fade.in.active
                .mu-tab-content-area
                  .row
                    .col-md-6
                      .mu-tab-content-left
                        %ul.mu-menu-item-nav
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-1.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} English Breakfast
                                %span.mu-menu-price $15.85
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-2.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} Chines Breakfast
                                %span.mu-menu-price $11.95
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-1.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} Indian Breakfast
                                %span.mu-menu-price $15.85
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                    .col-md-6
                      .mu-tab-content-right
                        %ul.mu-menu-item-nav
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-1.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} English Breakfast
                                %span.mu-menu-price $15.85
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-2.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} Chines Breakfast
                                %span.mu-menu-price $11.95
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-1.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} Indian Breakfast
                                %span.mu-menu-price $15.85
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
              #meals.tab-pane.fade
                .mu-tab-content-area
                  .row
                    .col-md-6
                      .mu-tab-content-left
                        %ul.mu-menu-item-nav
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-3.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} English Breakfast
                                %span.mu-menu-price $15.85
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-4.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} Chines Breakfast
                                %span.mu-menu-price $11.95
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-3.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} Indian Breakfast
                                %span.mu-menu-price $15.85
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                    .col-md-6
                      .mu-tab-content-right
                        %ul.mu-menu-item-nav
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-4.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} English Breakfast
                                %span.mu-menu-price $15.85
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-3.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} Chines Breakfast
                                %span.mu-menu-price $11.95
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-4.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} Indian Breakfast
                                %span.mu-menu-price $15.85
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
              #snacks.tab-pane.fade
                .mu-tab-content-area
                  .row
                    .col-md-6
                      .mu-tab-content-left
                        %ul.mu-menu-item-nav
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-5.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} English Breakfast
                                %span.mu-menu-price $15.85
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-6.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} Chines Breakfast
                                %span.mu-menu-price $11.95
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-5.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} Indian Breakfast
                                %span.mu-menu-price $15.85
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                    .col-md-6
                      .mu-tab-content-right
                        %ul.mu-menu-item-nav
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-5.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} English Breakfast
                                %span.mu-menu-price $15.85
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-6.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} Chines Breakfast
                                %span.mu-menu-price $11.95
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-5.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} Indian Breakfast
                                %span.mu-menu-price $15.85
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
              #desserts.tab-pane.fade
                .mu-tab-content-area
                  .row
                    .col-md-6
                      .mu-tab-content-left
                        %ul.mu-menu-item-nav
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-7.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} English Breakfast
                                %span.mu-menu-price $15.85
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-8.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} Chines Breakfast
                                %span.mu-menu-price $11.95
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-7.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} Indian Breakfast
                                %span.mu-menu-price $15.85
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                    .col-md-6
                      .mu-tab-content-right
                        %ul.mu-menu-item-nav
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-8.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} English Breakfast
                                %span.mu-menu-price $15.85
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-7.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} Chines Breakfast
                                %span.mu-menu-price $11.95
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-8.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} Indian Breakfast
                                %span.mu-menu-price $15.85
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
              #drinks.tab-pane.fade
                .mu-tab-content-area
                  .row
                    .col-md-6
                      .mu-tab-content-left
                        %ul.mu-menu-item-nav
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-9.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} English Breakfast
                                %span.mu-menu-price $15.85
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-10.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} Chines Breakfast
                                %span.mu-menu-price $11.95
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-9.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} Indian Breakfast
                                %span.mu-menu-price $15.85
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                    .col-md-6
                      .mu-tab-content-right
                        %ul.mu-menu-item-nav
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-9.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} English Breakfast
                                %span.mu-menu-price $15.85
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-10.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} Chines Breakfast
                                %span.mu-menu-price $11.95
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
                          %li
                            .media
                              .media-left
                                %a{:href => "#"}
                                  %img.media-object{:alt => "img", :src => "assets/img/menu/item-9.jpg"}/
                              .media-body
                                %h4.media-heading
                                  %a{:href => "#"} Indian Breakfast
                                %span.mu-menu-price $15.85
                                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nulla aliquid praesentium dolorem commodi illo.
/ End Restaurant Menu
/ Start Reservation section
%section#mu-reservation
  .container
    .row
      .col-md-12
        .mu-reservation-area
          .mu-title
            %span.mu-subtitle Make A
            %h2 Reservation
          .mu-reservation-content
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione quidem autem iusto, perspiciatis, amet, quaerat blanditiis ducimus eius recusandae nisi aut totam alias consectetur et.
            .col-md-6
              .mu-reservation-left
                %form.mu-reservation-form
                  .row
                    .col-md-12
                      .form-group
                        %input.form-control{:placeholder => "Full Name", :type => "text"}/
                    .col-md-12
                      .form-group
                        %input.form-control{:placeholder => "Email", :type => "email"}/
                    .col-md-12
                      .form-group
                        %input.form-control{:placeholder => "Phone Number", :type => "text"}/
                    .col-md-12
                      .form-group
                        %select.form-control
                          %option{:value => "0"} How Many?
                          %option{:value => "1 Person"} 1 Person
                          %option{:value => "2 People"} 2 People
                          %option{:value => "3 People"} 3 People
                          %option{:value => "4 People"} 4 People
                          %option{:value => "5 People"} 5 People
                          %option{:value => "6 People"} 6 People
                          %option{:value => "7 People"} 7 People
                          %option{:value => "8 People"} 8 People
                          %option{:value => "9 People"} 9 People
                          %option{:value => "10 People"} 10 People
                    .col-md-12
                      .form-group
                        %input#datepicker.form-control{:placeholder => "Date", :type => "text"}/
                    .col-md-12
                      .form-group
                        %textarea.form-control{:cols => "30", :placeholder => "Your Message", :rows => "10"}
                    %button.mu-readmore-btn{:type => "submit"} Make Reservation
            .col-md-5.col-md-offset-1
              .mu-reservation-right
                .mu-opening-hour
                  %h2 Opening Hours
                  %ul.list-unstyled
                    %li
                      %p Monday & Tuesday
                      %p 9:00 AM - 4:00 PM
                    %li
                      %p Wednesday & Thursday
                      %p 9:00 AM - Midnight
                    %li
                      %p Friday & Saturday
                      %p 9:00 AM - Midnight
                    %li
                      %p Sunday
                      %p 9:00 AM - 11:00 PM
/ End Reservation section
/ Start Gallery
%section#mu-gallery
  .container
    .row
      .col-md-12
        .mu-gallery-area
          .mu-title
            %span.mu-subtitle Discover
            %h2 Our Gallery
          .mu-gallery-content
            / Start gallery image
            .mu-gallery-body
              / start single gallery image
              .mu-single-gallery.col-md-4
                .mu-single-gallery-item
                  %figure.mu-single-gallery-img
                    %a.mu-imglink{:href => "assets/img/gallery/1.jpg"}
                      %img{:alt => "img", :src => "assets/img/gallery/1.jpg"}/
                      .mu-single-gallery-info
                        %img.mu-view-btn{:alt => "plus icon img", :src => "assets/img/plus.png"}/
              / End single gallery image
              / start single gallery image
              .mu-single-gallery.col-md-4
                .mu-single-gallery-item
                  %figure.mu-single-gallery-img
                    %a.mu-imglink{:href => "assets/img/gallery/2.jpg"}
                      %img{:alt => "img", :src => "assets/img/gallery/2.jpg"}/
                      .mu-single-gallery-info
                        %img.mu-view-btn{:alt => "plus icon img", :src => "assets/img/plus.png"}/
              / End single gallery image
              / start single gallery image
              .mu-single-gallery.col-md-4
                .mu-single-gallery-item
                  %figure.mu-single-gallery-img
                    %a.mu-imglink{:href => "assets/img/gallery/3.jpg"}
                      %img{:alt => "img", :src => "assets/img/gallery/3.jpg"}/
                      .mu-single-gallery-info
                        %img.mu-view-btn{:alt => "plus icon img", :src => "assets/img/plus.png"}/
              / End single gallery image
              / start single gallery image
              .mu-single-gallery.col-md-4
                .mu-single-gallery-item
                  %figure.mu-single-gallery-img
                    %a.mu-imglink{:href => "assets/img/gallery/4.jpg"}
                      %img{:alt => "img", :src => "assets/img/gallery/4.jpg"}/
                      .mu-single-gallery-info
                        %img.mu-view-btn{:alt => "plus icon img", :src => "assets/img/plus.png"}/
              / End single gallery image
              / start single gallery image
              .mu-single-gallery.col-md-4
                .mu-single-gallery-item
                  %figure.mu-single-gallery-img
                    %a.mu-imglink{:href => "assets/img/gallery/5.jpg"}
                      %img{:alt => "img", :src => "assets/img/gallery/5.jpg"}/
                      .mu-single-gallery-info
                        %img.mu-view-btn{:alt => "plus icon img", :src => "assets/img/plus.png"}/
              / End single gallery image
              / start single gallery image
              .mu-single-gallery.col-md-4
                .mu-single-gallery-item
                  %figure.mu-single-gallery-img
                    %a.mu-imglink{:href => "assets/img/gallery/6.jpg"}
                      %img{:alt => "img", :src => "assets/img/gallery/6.jpg"}/
                      .mu-single-gallery-info
                        %img.mu-view-btn{:alt => "plus icon img", :src => "assets/img/plus.png"}/
              / End single gallery image
              / start single gallery image
              .mu-single-gallery.col-md-4
                .mu-single-gallery-item
                  %figure.mu-single-gallery-img
                    %a.mu-imglink{:href => "assets/img/gallery/7.jpg"}
                      %img{:alt => "img", :src => "assets/img/gallery/7.jpg"}/
                      .mu-single-gallery-info
                        %img.mu-view-btn{:alt => "plus icon img", :src => "assets/img/plus.png"}/
              / End single gallery image
              / start single gallery image
              .mu-single-gallery.col-md-4
                .mu-single-gallery-item
                  %figure.mu-single-gallery-img
                    %a.mu-imglink{:href => "assets/img/gallery/8.jpg"}
                      %img{:alt => "img", :src => "assets/img/gallery/8.jpg"}/
                      .mu-single-gallery-info
                        %img.mu-view-btn{:alt => "plus icon img", :src => "assets/img/plus.png"}/
              / End single gallery image
              / start single gallery image
              .mu-single-gallery.col-md-4
                .mu-single-gallery-item
                  %figure.mu-single-gallery-img
                    %a.mu-imglink{:href => "assets/img/gallery/9.jpg"}
                      %img{:alt => "img", :src => "assets/img/gallery/9.jpg"}/
                      .mu-single-gallery-info
                        %img.mu-view-btn{:alt => "plus icon img", :src => "assets/img/plus.png"}/
              / End single gallery image
/ End Gallery
/ Start Client Testimonial section
%section#mu-client-testimonial
  .mu-overlay
    .container
      .row
        .col-md-12
          .mu-client-testimonial-area
            .mu-title
              %span.mu-subtitle Testimonials
              %h2 What Customers Say
            / testimonial content
            .mu-testimonial-content
              / testimonial slider
              %ul.mu-testimonial-slider
                %li
                  .mu-testimonial-single
                    .mu-testimonial-info
                      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consequuntur ducimus cumque iure modi nesciunt recusandae eligendi vitae voluptatibus, voluptatum tempore, ipsum nisi perspiciatis. Rerum nesciunt fuga ab natus, dolorem?
                    .mu-testimonial-bio
                      %p - David Muller
                %li
                  .mu-testimonial-single
                    .mu-testimonial-info
                      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consequuntur ducimus cumque iure modi nesciunt recusandae eligendi vitae voluptatibus, voluptatum tempore, ipsum nisi perspiciatis. Rerum nesciunt fuga ab natus, dolorem?
                    .mu-testimonial-bio
                      %p - David Muller
                %li
                  .mu-testimonial-single
                    .mu-testimonial-info
                      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consequuntur ducimus cumque iure modi nesciunt recusandae eligendi vitae voluptatibus, voluptatum tempore, ipsum nisi perspiciatis. Rerum nesciunt fuga ab natus, dolorem?
                    .mu-testimonial-bio
                      %p - David Muller
/ End Client Testimonial section
/ Start Chef Section
%section#mu-chef
  .container
    .row
      .col-md-12
        .mu-chef-area
          .mu-title
            %span.mu-subtitle Our Professionals
            %h2 MASTER CHEFS
          .mu-chef-content
            %ul.mu-chef-nav
              %li
                .mu-single-chef
                  %figure.mu-single-chef-img
                    %img{:alt => "chef img", :src => "assets/img/chef/chef-1.jpg"}/
                  .mu-single-chef-info
                    %h4 Simon Jonson
                    %span Head Chef
                  .mu-single-chef-social
                    %a{:href => "#"}
                      %i.fa.fa-facebook
                    %a{:href => "#"}
                      %i.fa.fa-twitter
                    %a{:href => "#"}
                      %i.fa.fa-google-plus
                    %a{:href => "#"}
                      %i.fa.fa-linkedin
              %li
                .mu-single-chef
                  %figure.mu-single-chef-img
                    %img{:alt => "chef img", :src => "assets/img/chef/chef-2.jpg"}/
                  .mu-single-chef-info
                    %h4 Kelly Wenzel
                    %span Pizza Chef
                  .mu-single-chef-social
                    %a{:href => "#"}
                      %i.fa.fa-facebook
                    %a{:href => "#"}
                      %i.fa.fa-twitter
                    %a{:href => "#"}
                      %i.fa.fa-google-plus
                    %a{:href => "#"}
                      %i.fa.fa-linkedin
              %li
                .mu-single-chef
                  %figure.mu-single-chef-img
                    %img{:alt => "chef img", :src => "assets/img/chef/chef-3.jpg"}/
                  .mu-single-chef-info
                    %h4 Greg Hong
                    %span Grill Chef
                  .mu-single-chef-social
                    %a{:href => "#"}
                      %i.fa.fa-facebook
                    %a{:href => "#"}
                      %i.fa.fa-twitter
                    %a{:href => "#"}
                      %i.fa.fa-google-plus
                    %a{:href => "#"}
                      %i.fa.fa-linkedin
              %li
                .mu-single-chef
                  %figure.mu-single-chef-img
                    %img{:alt => "chef img", :src => "assets/img/chef/chef-4.jpg"}/
                  .mu-single-chef-info
                    %h4 Marty Fukuda
                    %span Burger Chef
                  .mu-single-chef-social
                    %a{:href => "#"}
                      %i.fa.fa-facebook
                    %a{:href => "#"}
                      %i.fa.fa-twitter
                    %a{:href => "#"}
                      %i.fa.fa-google-plus
                    %a{:href => "#"}
                      %i.fa.fa-linkedin
              %li
                .mu-single-chef
                  %figure.mu-single-chef-img
                    %img{:alt => "chef img", :src => "assets/img/chef/chef-5.jpg"}/
                  .mu-single-chef-info
                    %h4 Simon Jonson
                    %span Head Chef
                  .mu-single-chef-social
                    %a{:href => "#"}
                      %i.fa.fa-facebook
                    %a{:href => "#"}
                      %i.fa.fa-twitter
                    %a{:href => "#"}
                      %i.fa.fa-google-plus
                    %a{:href => "#"}
                      %i.fa.fa-linkedin
              %li
                .mu-single-chef
                  %figure.mu-single-chef-img
                    %img{:alt => "chef img", :src => "assets/img/chef/chef-1.jpg"}/
                  .mu-single-chef-info
                    %h4 Kelly Wenzel
                    %span Pizza Chef
                  .mu-single-chef-social
                    %a{:href => "#"}
                      %i.fa.fa-facebook
                    %a{:href => "#"}
                      %i.fa.fa-twitter
                    %a{:href => "#"}
                      %i.fa.fa-google-plus
                    %a{:href => "#"}
                      %i.fa.fa-linkedin
              %li
                .mu-single-chef
                  %figure.mu-single-chef-img
                    %img{:alt => "chef img", :src => "assets/img/chef/chef-2.jpg"}/
                  .mu-single-chef-info
                    %h4 Greg Hong
                    %span Grill Chef
                  .mu-single-chef-social
                    %a{:href => "#"}
                      %i.fa.fa-facebook
                    %a{:href => "#"}
                      %i.fa.fa-twitter
                    %a{:href => "#"}
                      %i.fa.fa-google-plus
                    %a{:href => "#"}
                      %i.fa.fa-linkedin
              %li
                .mu-single-chef
                  %figure.mu-single-chef-img
                    %img{:alt => "chef img", :src => "assets/img/chef/chef-3.jpg"}/
                  .mu-single-chef-info
                    %h4 Marty Fukuda
                    %span Burger Chef
                  .mu-single-chef-social
                    %a{:href => "#"}
                      %i.fa.fa-facebook
                    %a{:href => "#"}
                      %i.fa.fa-twitter
                    %a{:href => "#"}
                      %i.fa.fa-google-plus
                    %a{:href => "#"}
                      %i.fa.fa-linkedin
/ End Chef Section
/ Start Contact section
%section#mu-contact
  .container
    .row
      .col-md-12
        .mu-contact-area
          .mu-title
            %span.mu-subtitle Get In Touch
            %h2 Contact Us
          .mu-contact-content
            .row
              .col-md-6
                .mu-contact-left
                  / Email message div
                  #form-messages
                  / Start contact form
                  %form#ajax-contact.mu-contact-form{:action => "mailer.php", :method => "post"}
                    .form-group
                      %label{:for => "name"} Your Name
                      %input#name.form-control{:name => "name", :placeholder => "Name", :required => "", :type => "text"}/
                    .form-group
                      %label{:for => "email"} Email address
                      %input#email.form-control{:name => "email", :placeholder => "Email", :required => "", :type => "email"}/
                    .form-group
                      %label{:for => "subject"} Subject
                      %input#subject.form-control{:name => "subject", :placeholder => "Subject", :required => "", :type => "text"}/
                    .form-group
                      %label{:for => "message"} Message
                      %textarea#message.form-control{:cols => "30", :name => "message", :placeholder => "Type Your Message", :required => "", :rows => "10"}
                    %button.mu-send-btn{:type => "submit"} Send Message
              .col-md-6
                .mu-contact-right
                  .mu-contact-widget
                    %h3 Office Address
                    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia temporibus corporis ea non consequatur porro corrupti hic voluptatibus assumenda, doloribus.
                    %address
                      %p
                        %i.fa.fa-phone
                        (850) 457 6688
                      %p
                        %i.fa.fa-envelope-o>
                        contact@markups.io
                      %p
                        %i.fa.fa-map-marker>
                        368 St. Panama City, Florida, USA
                  .mu-contact-widget
                    %h3 Open Hours
                    %address
                      %p
                        %span Monday - Friday
                        9.00 am to 12 pm
                      %p
                        %span Saturday
                        9.00 am to 10 pm
                      %p
                        %span Sunday
                        10.00 am to 12 pm
/ End Contact section
/ Start Map section
%section#mu-map
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "100%", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9207.358598888495!2d-85.64847801496286!3d30.183918972289003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x2320479d70eb6202!2sDillard's!5e0!3m2!1sbn!2sbd!4v1462359735720", :width => "100%"}
/ End Map section
/ Start Footer
%footer#mu-footer
  .container
    .row
      .col-md-12
        .mu-footer-area
          .mu-footer-social
            %a{:href => "#"}
              %span.fa.fa-facebook
            %a{:href => "#"}
              %span.fa.fa-twitter
            %a{:href => "#"}
              %span.fa.fa-google-plus
            %a{:href => "#"}
              %span.fa.fa-linkedin
            %a{:href => "#"}
              %span.fa.fa-youtube
          .mu-footer-copyright
            %p
              \© Copyright
              = succeed "." do
                %a{:href => "http://markups.io", :rel => "nofollow"} markups.io