.pagination.p5
  %ul
    %a{:href => "#"}
      %li
    %a{:href => "#"}
      %li
    %a{:href => "#"}
      %li
    %a{:href => "#"}
      %li
    %a.is-active{:href => "#"}
      %li
    %a{:href => "#"}
      %li
