.mu-restaurant-menu-content .media{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.mu-restaurant-menu-content .media li {
  list-style: none;
}

.mu-restaurant-menu-content .media .img { 
  width: 40%;
  display: inline-block;
}

.mu-restaurant-menu-content .media .img image {
  width: 350px;
  height: 350px;
}

.mu-restaurant-menu-content .media .text {
  width: 60%;
  display: inline-block;
}


.mu-restaurant-menu-content .media .text a{
  color: #FFA500;
}
