.mu-restaurant-menu-content .media{
  width: 900px;
  display: flex;
  flex-direction: row;
  margin: 10%;
}

.mu-restaurant-menu-content .media .img { 
  width: 100%;
  display: block;
  padding: 30px;
}

.mu-restaurant-menu-content .media .img img{ 
  width: 100%;
}

.mu-restaurant-menu-content .media li {
  list-style: none;
}

.mu-restaurant-menu-content .media .text {
  width: 100%;
  display: inline-block;
  padding: 30px;
}


.mu-restaurant-menu-content .media .text a{
  color: #FFA500;
  width: 100%;
}
