%section#mu-about-us
  .container
    .row
      .col-md-12
        .mu-about-us-area
          .mu-title
            %h1.mu-subtitle Wine Log
          .row
            .col-md-6
              .mu-about-us-left
                -if @maker.images.present?
                  -@maker.images.each do |image|
                    =image_tag image.variant(gravity: :center, resize:"265x275^", crop:"265x275+0+0").processed
            .col-md-6
              .mu-about-us-right
                %h3=@maker.name
                %ul
                  %li=@maker.country
            .col-md-6
              .mu-about-us-right
                -@maker.wines.each do |wine|
                  =link_to "#{wine.name}/#{wine.country}(#{wine.year})", wine_path(wine)
                  %br

  .container
    -if user_signed_in?
      =link_to 'Back to index', makers_path 
      =link_to 'Edit info', edit_login_maker_path(@maker)
      =link_to 'Delete this maker', login_maker_path(@maker), method: :delete, data:{confirm:"Are you sure to delete?"}