%footer#mu-footer
  .container
    .row
      .col-md-12
        .mu-footer-area
          .mu-footer-social
            %a{:href => "#"}
              %span.fa.fa-facebook
            %a{:href => "#"}
              %span.fa.fa-twitter
            %a{:href => "#"}
              %span.fa.fa-google-plus
            %a{:href => "#"}
              %span.fa.fa-linkedin
            %a{:href => "#"}
              %span.fa.fa-youtube
          .mu-footer-copyright
            %p
              \© Copyright
              = succeed "." do
                %a{:href => "http://markups.io", :rel => "nofollow"} markups.io