%header#mu-header
  %nav.navbar.navbar-default.mu-main-navbar{:role => "navigation"}
    .container
      .navbar-header
        / FOR MOBILE VIEW COLLAPSED BUTTON
        %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        / LOGO
        / Text based logo
        =link_to root_path do
          .navbar-brand
            ="Wine"
            %span Log
        / Image based logo
        / <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt="Logo img"></a>
      #navbar.navbar-collapse.collapse
        %ul#top-menu.nav.navbar-nav.navbar-right.mu-main-nav
          %li
            =link_to "Wines", wines_path
          %li
            =link_to "Makers", makers_path
          -if user_signed_in?
            %li
              =link_to 'My Page', login_my_pages_path
            %li
              =link_to 'Log out', destroy_user_session_path
          -else
            %li
              =link_to 'Log in', new_user_session_path
            %li
              =link_to 'Sign up', new_user_registration_path