=bootstrap_form_with model: [@wine], local: true do |f|
  =f.text_field :name
  =f.text_field :country
  =f.text_field :area
  =f.text_field :year
  =f.text_field :price
  =f.text_field :color
  =f.text_field :taste
  =f.text_field :aroma
  =f.text_area :comments
  =f.file_field :image
  -# =f.collection_select :artist_id, Artist.all, :id, :name, include_blank: true, class: 'form-control'
  -# =f.collection_check_boxes :genre_ids, Genre.all, :id, :name, class: 'form-control'
  =f.submit