.mu-tab-content-area
  .row
    .col-md-6
      .mu-tab-content-left
        %ul
          -@wines.rose.each do |wine|
            %li.mu-menu-item-nav
              .media
                .img
                  -if wine.image.present?
                    =image_tag wine.image.variant(gravity: :center, resize:"350x350^", crop:"350x350+0+0").processed
                .text
                  %h2=link_to "#{wine.name}/#{wine.year}", wine_path(wine)
                  %span.mu-menu-price="#{wine.price}円"
                  %p=wine.comments