%section#mu-restaurant-menu
  .container
    .row
      .col-md-12
        .mu-restaurant-menu-area
          .mu-title
            %span.mu-subtitle Discover
            %h2 YOUR WINE
          .mu-restaurant-menu-content
            %ul.nav.nav-tabs.mu-restaurant-menu
              %li.btn
                %a{"data-toggle" => "tab", :href => "#all"} All
              %li.btn
                %a{"data-toggle" => "tab", :href => "#red"} Red
              %li.btn
                %a{"data-toggle" => "tab", :href => "#white"} White
              %li.btn
                %a{"data-toggle" => "tab", :href => "#sparkling"} Sparkling
              %li.btn
                %a{"data-toggle" => "tab", :href => "#rose"} Rose
            / Tab panes
            .tab-content
              #all.tab-pane.fade.in.active
                .mu-tab-content-area
                  .row
                    .col-md-6
                      .mu-tab-content
                        =render 'all'
  .container
    -if user_signed_in?
      =link_to 'Add new wine', new_login_wine_path, class: 'btn submitbtn'
