=@wine.name
=@wine.country
=@wine.area
=@wine.year
=link_to @wine.maker.name, maker_path(@wine.maker)
=@wine.price
=@wine.color
=@wine.taste
=@wine.aroma
=@wine.comments
-if @wine.image.present?
  =image_tag @wine.image.variant(gravity: :center, resize:"350x350^", crop:"350x350+0+0").processed

=link_to "Edit", edit_wine_path(@wine)
=link_to "Delete", wine_path(@wine), method: :delete, data: {confirm: "Do you want to delete?"}
=link_to "Back", wines_path