



-# -if @wine.maker.present?
-#   =link_to @wine.maker.name, maker_path(@wine.maker)

-# =@wine.color
-# =@wine.taste
-# =@wine.aroma

-# -if @wine.image.present?
-#   =image_tag @wine.image.variant(gravity: :center, resize:"350x350^", crop:"350x350+0+0").processed

-# =link_to "Edit", edit_wine_path(@wine)
-# =link_to "Delete", wine_path(@wine), method: :delete, data: {confirm: "Do you want to delete?"}
-# =link_to "Back", wines_path


%section#mu-about-us
  .container
    .row
      .col-md-12
        .mu-about-us-area
          .mu-title
            %h1.mu-subtitle Wine Log
          .row
            .col-md-6
              .mu-about-us-left
                -if @wine.image.present?
                  =image_tag @wine.image.variant(gravity: :center, resize:"600x443^", crop:"600x443+0+0").processed
            .col-md-6
              .mu-about-us-right
                %h3=@wine.name
                %ul
                  %li=@wine.country
                  %li=@wine.area
                  %li=@wine.year
                  %li=@wine.price
                %p=@wine.comments
    / End About us
    / Start Counter Section
%section#mu-counter
  .mu-counter-overlay
    .container
      .row
        .col-md-12
          .mu-counter-area
            %ul.mu-counter-nav
              %li.col-md-3.col-sm-3.col-xs-12
                .mu-single-counter
                  %span Color
                  %h3
                    %span.counter-value{"data-count" => "150"}=@wine.color
                    %sup +
              %li.col-md-3.col-sm-3.col-xs-12
                .mu-single-counter
                  %span Taste
                  %h3
                    %span.counter-value{"data-count" => "60"}=@wine.taste
                    %sup +
              %li.col-md-3.col-sm-3.col-xs-12
                .mu-single-counter
                  %span Aroma
                  %h3
                    %span.counter-value{"data-count" => "45"}=@wine.aroma
                    %sup +